body {
    margin: 0;
    overflow: hidden;
}
.meetVideoContainer {
    /* position: relative; */
    background: rgb(1, 4, 48);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.meetUserVideo {
    position: fixed;
    bottom: 20px;
    left: 20px;

    width: 200px;
    height: 150px;

    border-radius: 10px;
    z-index: 10;
}


.conferenceView {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;

    overflow: hidden;   /* important */
}

.conferenceView video {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}


.chatRoom {
    z-index: 2;
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chatContainer {
    z-index: 1;
    position: relative;
    height: 100%;
}


.chattingArea {
    position: absolute;
    bottom: 0;
}

.buttonContainers {
    z-index: 1;
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}
.buttonContainers svg {
    font-size: 3rem;
}